# Internet Gateway
# * used for general public outbound
resource "aws_internet_gateway" "internet-gateway" {
  vpc_id = aws_vpc.vpc.id

  tags = {
    Name        = "${var.aws.environment}-${var.aws.region}-internet-gateway"
  }
}
