resource "aws_subnet" "public-subneta" {
  vpc_id                  = aws_vpc.vpc.id
  cidr_block              = "10.75.1.0/24"
  map_public_ip_on_launch = true

  availability_zone = "${var.aws.region}a"

  tags = {
    Name        = "${var.aws.environment}-${var.aws.region}-publica"
    Tier        = "public"
  }
}
